<div class="row" style=" margin-top: 7%;">
  <div class="col-lg-2 col-md-2">
    <app-dcard></app-dcard>
  </div>
  <div class="container col-lg-9 col-md-9" >
      <div>
          <div class="col-md-1">
            <h3>Cashier</h3>
          </div>

          <div class="container" style="background-color:rgb(255, 247, 233) ">
          <br>
              <div class="row justify-content-start" style="margin: 0px; padding: 0px;">

                  
                  
                  <!-- Order Id  -->

                  <div class="col-lg-4 col-md-4">
                      <form class="form-inline waves-light" mdbWavesEffect>
                          <div class="md-form my-0">
                              <input class="form-control mr-sm-2" type="text" placeholder="Enter Order Id">
                          </div>
                      <button type="button" mdbBtn color="warning" style="padding: 10px; box-shadow: none; box-sizing: initial;" mdbWavesEffect><mdb-icon fas icon="cash-register" size="1.5x" ></mdb-icon></button> 
                      </form>
                  </div>
                

                    
                    <div class="col-md-2">              
                      <h6>Order Num : *******</h6>
                    </div>
                    
                    <div class="col-md-2">              
                      <h6>User ID: *******</h6>
                    </div>

                    <div class="col-md-2">              
                      <h6>Time: *******</h6>
                    </div>

                    <div class="col-md-2">              
                      <h6>CC : ****</h6>
                    </div>
                  
              </div>
                  
                  <br>
                  <!-- --------------Order table----------------- -->
                  
                  <table class="table table-striped "  mdbTable hover='true' >
                    <thead class="text-center" >
                        <tr >
                        
                        <th> Product Name</th>
                        <th> Product Code</th>
                        <th> Qty</th>
                        <th> Unit Price</th>
                        <th> Amount</th>
                      
                        
                        </tr>
                      
    
                        <!-- example lines -->
                        <tr>
                            <td>Sausage Bun</td>
                            <td>1345</td>
                            <td>2</td>
                            <td>Rs 40.00</td>
                            <td>Rs 80.00</td>                                                   
                        </tr> 
                        <tr>
                          <td>Cream Bun</td>
                          <td>1355</td>
                          <td>2</td>
                          <td>Rs 30.00</td>
                          <td>Rs 60.00</td>                                                   
                      </tr>                   
                    </thead>                                      
                  </table>  
                  
                  <br>

                  <!-- Total -->

                  <div class="row justify-content-end">
                    <div class="col-md-2">
                      <h6><b>Total: Rs 40.00</b></h6>
                    </div>
                  </div>
                  <br>

                  <!-- Payment select buttons -->

                  <div class="row justify-content-end" style="padding: 15px;">
                    <button class="black-text " type="button" mdbBtn color="success" style="margin-bottom: 10px; margin-top: 0px; box-sizing: content-box;"  data-toggle="modal" data-target="#basicExample"
                    (click)="cashframe.show()"  mdbWavesEffect>
                      <strong>Cash Pay</strong> 
                      <mdb-icon fas icon="money-bill-alt" size="1.5x" style="margin-left: 15px;"></mdb-icon>
                    </button>

                    <button class="black-text " type="button" mdbBtn color="warning" style="margin-bottom: 10px; margin-top: 0px; box-sizing: content-box;"  data-toggle="modal" data-target="#basicExample"
                    (click)="ccframe.show()"  mdbWavesEffect>
                      <strong>CC Pay</strong> 
                      <mdb-icon fas icon="coins" size="1.5x" style="margin-left: 15px;"></mdb-icon>
                    </button>
                  </div>
                  
                  
            </div>

            <br>
              <div class="col-md-3">
                <h3>Previous Orders</h3>
              </div>

              <!-- order history table -->

              <table class="table table-striped "  mdbTable hover='true' >
                <thead class="text-center" style="background-color: rgb(245, 245, 245)" >
                    <tr >
                    <th> Order ID</th>
                    <th> User  ID</th>
                    <th> Date</th>
                    <th> Time</th>
                    <th> Amount</th>
                    <th> Type</th>
                    <th> Cashier</th>
                    <th>  </th>
                    </tr>
                   

                    <!-- example lines -->
                    <tr>
                        <td>123456</td>
                        <td>1704090</td>
                        <td>7/10/2020</td>
                        <td>15:25</td>
                        <td>Rs 300.00</td>
                        <td>Cash</td>
                        <td>Jhon</td>
                        
                        <td>
                            <span class="table-edit">

                              
                              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="relative waves-light" (click)="editModal.show()" mdbWavesEffect >Details</button>
                              

                              <div mdbModal #editModal="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
                                  aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-full-height modal-right" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header text-center">
                                      <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
                                        <span aria-hidden="true">×</span>
                                      </button>
                                      
                                      <h4 class="modal-title w-100 font-weight-bold">Details</h4>
                                      
                                    </div>

                                    <div class="modal-body mx-3">
                                      <form class="border border-0 p-4" id="add-item">
                                        
                                          
                                      
                                    </form>
                                    </div>
                              
                                   
                                  </div>
                                </div>
                              </div>

                            </span>
                          </td>                         
                    </tr>
                    <tr>
                      <td>123476</td>
                      <td>1704098</td>
                      <td>14/10/2020</td>
                      <td>16:25</td>
                      <td>Rs 500.00</td>
                      <td>Cash</td>
                      <td>Jhon</td>
                      
                      <td>
                          <span class="table-edit">

                            
                            <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="relative waves-light" (click)="editModal.show()" mdbWavesEffect >Details</button>
                            

                            <div mdbModal #editModal="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-full-height modal-right" role="document">
                                <div class="modal-content">
                                  <div class="modal-header text-center">
                                    <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
                                      <span aria-hidden="true">×</span>
                                    </button>
                                    
                                    <h4 class="modal-title w-100 font-weight-bold">Details</h4>
                                    
                                  </div>

                                  <div class="modal-body mx-3">
                                    <form class="border border-0 p-4" id="add-item">
                                      
                                        
                                    
                                  </form>
                                  </div>
                            
                                 
                                </div>
                              </div>
                            </div>

                          </span>
                        </td>                         
                  </tr>                   
                </thead>                                      
            </table>  


          
      
  </div>
</div>


            <!-- Cash popup confirm -->

            <div mdbModal #cashframe="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="cashframeLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="cashframe.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-center w-100" id="myModalLabel">Confirm Payment Type</h4>
                  </div>
                  <div class="modal-body text-center">
                     Are you sure the payment type is cash?
              
                  </div>
                  <div class="modal-footer justify-content-center">
                    <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="cashframe.hide()" mdbWavesEffect>Cancel</button>
                    <button type="button" mdbBtn color="success" class="relative waves-light" (click)="cashframe.hide() " mdbWavesEffect>Confirm</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- CC popup confirmation -->

            <div mdbModal #ccframe="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="cashframeLabel" aria-hidden="true">
              <div class="modal-dialog " role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="ccframe.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-center w-100" id="myModalLabel">Confirm Payment Type</h4>
                  </div>
                  <div class="modal-body text-center">
                     Are you sure the payment type is Canteen Credits? User Canteen Credits will be deducted and a
                     notification will be sent to the user.
              
                  </div>
                  <div class="modal-footer justify-content-center">
                    <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="ccframe.hide()" mdbWavesEffect>Cancel</button>
                    <button type="button" mdbBtn color="success" class="relative waves-light" (click)="ccframe.hide() " mdbWavesEffect>Confirm</button>
                  </div>
                </div>
              </div>
            </div>